@model  CalcDB.Models.Operation

@Html.DisplayForModel()

@*<tr>
    <th scope="row">
        @Model.Id
    </th>
    <td>
        @Html.DisplayFor(m => m.Name)
    </td>
    <td>
        @Model.OwnerId
    </td>
</tr>*@